@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat&family=Pacifico&family=Shrikhand&display=swap");

.header {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 18px 0 rgba(129, 162, 182, 0.2);
}

.header .logo {
  font-family: "Italiana", cursive;
  font-size: 35px;
  font-weight: 900;
  line-height: 0.8;
}

.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  line-height: 0.8;
}

.header ul .logo {
  margin: 10px;
  padding: 10px 4%;
}

.header ul a {
  color: #121212;
}

.header ul li {
  font-family: "Montserrat", sans-serif;
  padding: 15px;
  margin: 10px;
  font-size: 18px;
}

.header ul li a:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  transition: 0.4s;
}

section {
  background: #ffffff;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-right: 60px;
}
